<form>
    <h1 mat-dialog-title>Change Password</h1>
    <div mat-dialog-content>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Current Password" [formControl]="currentPasswordControl" [(ngModel)]="currentPassword"
          required>
        <mat-error *ngIf="currentPasswordControl.invalid">{{getCurrentErrorMessage()}}</mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="New Password" [formControl]="newPasswordControl" [(ngModel)]="newPassword" required>
        <mat-error *ngIf="newPasswordControl.invalid">{{getNewErrorMessage()}}</mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Repeat New Password" [formControl]="newPassword2Control" [(ngModel)]="newPassword2"
          required>
        <mat-error *ngIf="newPassword2Control.invalid">{{getNew2ErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <div fxFlex></div>
      <button mat-raised-button type='button' [mat-dialog-close]="" cdkFocusInitial>CLOSE</button>
      <button mat-raised-button color="primary" (click)="change()">CHANGE</button>
    </div>
</form>