
<div class="flex-container">
  <form>
      <mat-card class="flex-item">
          <mat-card-header>
            <mat-card-title>Project Manager</mat-card-title>
            <mat-card-subtitle>Login</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="something" maxlength="30">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="something2">
              </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button type="button" (click)="register()">REGISTER</button>
                <span class="spacer"></span>
                <div fxFlex></div>
                <button mat-raised-button type="submit" color="primary" (click)="login()">
                  <mat-icon>forward</mat-icon> LOGIN</button>
          </mat-card-actions>
        </mat-card>
  </form>
</div>

