
.wrapper {
    margin: 50px;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;

    justify-content: space-around;
}

@media all and (max-width: 800px) {
    .flex-container {
        justify-content: flex-start;
    }
}

.flex-item {
    margin-top: 50px;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
